@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
/* Navegación */
.navi {
    width: 100%;
    position: absolute; /* Superpone la navegación sobre la imagen */
    top: 0; /* Fija la navegación en la parte superior */
    z-index: 30; /* Asegura que esté por encima de la imagen y el texto */
}

/* Contenedor de la imagen */
.bord {
    position: relative; /* Contiene el texto centrado */
    overflow: hidden; /* Evita desbordamientos */
}

/* Imagen */
.imagenHome {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
}

/* Texto centrado sobre la imagen */
.centerbody {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20; /* Por debajo de la navegación */

    color: white;
}

/* Hover del texto */
.centerbody h2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 25px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;
    font-size: 1.35rem;
    font-weight: bold;
    transition: all 0.4s;
}
.centerbody h1 {
    padding-bottom: 5px;
}
.centerbody h2:hover {
    background-color: rgba(31, 30, 30, 0.5);
    color: #bebebe;
    transition: all 0.3s;
}

/* Escalado del texto en pantallas más grandes */
@media (min-width: 350px) {
    .centerbody h2 {
        font-size: 1rem;
    }
    .centerbody {
        margin-top: 10%;
    }
}

@media (min-width: 1024px) {
    .centerbody h2 {
        font-size: 1.75rem;
    }
}
